<!-- main HTML handlebars will render to -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MVC With Burgers!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>